<h1> Question-1 </h1>

In [2]:
ages = [19,22,19,24,20,25,26,24,25,24]
# sorting the list 
ages.sort()
# finding the minimum age from the list ages
minimum = ages[0]
# finding the maximum age from the list ages
maximum = ages[-1]
# printing the sorted list and minimum and maximum values in the list
print('sorted ages :',ages)
print('miminum age :',minimum)
print('maximum age :',maximum)
ages.append(minimum)
ages.append(maximum)
print('ages after adding min and max age :',ages)
ages.sort()
length = len(ages)
# finding the median 
if length%2 == 1:
	median = ages[length//2]
else:
	median = (ages[length//2-1]+ages[length//2])/2
# printing the median
print('median age :',median)
# finding the average
average = sum(ages)/len(ages)
# printing the average
print('average age :',average)
# since the range is the keyword in python, variable name should not be the same
rangee = maximum-minimum
print('range of ages :',rangee)

sorted ages : [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
miminum age : 19
maximum age : 26
ages after adding min and max age : [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
median age : 24.0
average age : 22.75
range of ages : 7

<h1> Question-2 </h1>

In [3]:
# creating an empty dictionary called dog
dog = {}
# adding name to dog dictionary
dog['name'] = 'bittu'
# adding color to dog dictionary
dog['color'] = 'black'
# adding breed to the dog dictionary
dog['breed'] = 'german'
# adding legs to the dog dictionary
dog['legs'] = 4
# adding age to the dog dictionary
dog['age'] = 7
# printing the dog dictionary
print('dog :',dog)
# creating the student dictionary
student = {'first_name':'Satish','last_name':'Kothamasu','gender':'Male','age':24,'marital_status':'single',\
           'skills':['python','java'],'country':'India','city':'Guntur','address':'Kothapet'}
print('student :',student)
# printing the length of the student dictionary
print('length of the student dictionary :',len(student))
# printing the student skills
print('student skills :',student['skills'])
print('type of student skills :',type(student['skills']).__name__)
student['skills'].append('flask')
print('dictionary keys :',list(student.keys()))
print('dictionary values :',list(student.values()))

dog : {'name': 'bittu', 'color': 'black', 'breed': 'german', 'legs': 4, 'age': 7}
student : {'first_name': 'Satish', 'last_name': 'Kothamasu', 'gender': 'Male', 'age': 24, 'marital_status': 'single', 'skills': ['python', 'java'], 'country': 'India', 'city': 'Guntur', 'address': 'Kothapet'}
length of the student dictionary : 9
student skills : ['python', 'java']
type of student skills : list
dictionary keys : ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
dictionary values : ['Satish', 'Kothamasu', 'Male', 24, 'single', ['python', 'java', 'flask'], 'India', 'Guntur', 'Kothapet']

<h1> Question-3 </h1>

In [4]:
# creating brothers tuple
brothers = ('Ramesh','Suresh')
# creating sisters tuple
sisters = ('Swetha','Geetha')
# adding brothers and sisters tuples and assigning it to siblings
siblings = brothers + sisters
# printing siblings tuple
print('siblings :',siblings)
print('number of siblings :',len(siblings))
# adding father and mother to siblings and assigning it to family_members
family_members = siblings + ('Bhupathi Rao','Kanthamma')
print('family_members :',family_members)

siblings : ('Ramesh', 'Suresh', 'Swetha', 'Geetha')
number of siblings : 4
family_members : ('Ramesh', 'Suresh', 'Swetha', 'Geetha', 'Bhupathi Rao', 'Kanthamma')

<h1> Question-4 </h1>

In [5]:
it_companies = {'Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon'}
A = {19,22,24,20,25,26}
B = {19,22,20,25,26,24,28,27}
age = [22,19,24,25,26,24,25,24]
# finding the length of it companies
print('length of it_companies :',len(it_companies))
# adding twitter to it_companies
it_companies.add('Twitter')
# printing the updated it_companies set
print('it_companies :',it_companies)
# inserting multiple it_companies at once to the set it_companies
it_companies.update(['Netflix','Adobe','Salesforce'])
# printing the updated it_companies set
print('it_companies :',it_companies)
# Removing one of it_companies (IBM) from the set it_companies
it_companies.remove('IBM')
# printing the updated it_companies set
print('it_companies :',it_companies)
# remove method will remove the specified element from the set. if the specified element is not present in the set, it will give keyerror
# discard method will also remove the specified element from the set. if the specifed element is not present it wont raise any keyerror
# joining A and B
print('A union B :',A.union(B))
# A instersection B
print('A intersection B :',A.intersection(B))
# is A subset of B
print('is A subset of B :',A.issubset(B))
# are A and B disjoint sets
print('are A and B disjoint sets :',A.isdisjoint(B))
# joining A with B
print('joining A with B :',A.union(B))
# joining B with A
print('joining B with A :',B.union(A))
print('Symmetric difference between A and B :',A.symmetric_difference(B))
del(A)
del(B)
# converting the ages list to set
age_set = set(age)
print('length of ages list :',len(age))
print('length of ages set :',len(age_set))

length of it_companies : 7
it_companies : {'Oracle', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Amazon', 'Twitter', 'Apple'}
it_companies : {'Adobe', 'Oracle', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Amazon', 'Salesforce', 'Twitter', 'Apple', 'Netflix'}
it_companies : {'Adobe', 'Oracle', 'Facebook', 'Google', 'Microsoft', 'Amazon', 'Salesforce', 'Twitter', 'Apple', 'Netflix'}
A union B : {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B : {19, 20, 22, 24, 25, 26}
is A subset of B : True
are A and B disjoint sets : False
joining A with B : {19, 20, 22, 24, 25, 26, 27, 28}
joining B with A : {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B : {27, 28}
length of ages list : 8
length of ages set : 5

<h1> Question-5 </h1>

In [6]:
radius = 30
# calculating the area of circle
_area_of_circle_ = 3.14*radius**2
# printing the area of circle
print('area of circle with radius 30 is :',_area_of_circle_)
# calculating the circumference of the circle
_circum_of_circle_ = 2*3.14*radius
# printing the circumference of the circle
print('circumference of the circle with radius 30 is :',_circum_of_circle_)
# getting the radius from the user
radius = int(input('Enter radius: '))
_area_of_circle_ = 3.14*radius**2
print('area of circle with radius {} is :'.format(radius),_area_of_circle_)

area of circle with radius 30 is : 2826.0
circumference of the circle with radius 30 is : 188.4
Enter radius: 10
area of circle with radius 10 is : 314.0

<h1> Question-6 </h1>

In [7]:
string = 'I am a teacher and I love to inspire and teach people'
unique_words = set(string.split())
print('unique words in the given string are :',unique_words)
print('number of unique words :',len(unique_words))

unique words in the given string are : {'inspire', 'to', 'am', 'and', 'a', 'teacher', 'teach', 'love', 'people', 'I'}
number of unique words : 10

<h1> Question-7 </h1>

In [8]:
print('Name\t\tAge\tCountry\t\tCity')
print('Asabeneh\t250\tFinland\t\tHelsinki')

Name		Age	Country		City
Asabeneh	250	Finland		Helsinki

<h1> Question-8 </h1>

In [9]:
radius = 10
area = 3.14*radius**2
print('The area of a circle with radius {} is {} meters square'.format(radius,area))

The area of a circle with radius 10 is 314.0 meters square

<h1> Question-9 </h1>

In [10]:
n = int(input('Enter no of students : '))
weights_in_lb = []
for i in range(n):
	weights_in_lb.append(int(input('Enter weight of student-{} : '.format(i+1))))
print(weights_in_lb)
weights_in_kg = []
for i in weights_in_lb:
	x = i*0.453592
	weights_in_kg.append(float("%.2f" %x))
print(weights_in_kg)

Enter no of students : 4
Enter weight of student-1 : 150
Enter weight of student-2 : 155
Enter weight of student-3 : 145
Enter weight of student-4 : 148
[150, 155, 145, 148]
[68.04, 70.31, 65.77, 67.13]

<h1> Question-10 </h1>

<h5> The given  dataset is </h5>
<table>
<tr><th> Feature </th><th> label </th></tr>
<tr><td>1</td><td>O</td></tr>
<tr><td>2</td><td>O</td></tr>
<tr><td>3</td><td>X</td></tr>
<tr><td>6</td><td>X</td></tr>
<tr><td>6</td><td>X</td></tr>
<tr><td>7</td><td>O</td></tr>
<tr><td>10</td><td>O</td></tr>
<tr><td>11</td><td>O</td></tr>
</table>

<p> Now divide the given dataset into 2 equal parts. one is for training and other is for testing. </p>

<h7> Training dataset </h7>
<table>
<tr><th> Feature </th><th> label </th></tr>
<tr><td>1</td><td>O</td></tr>
<tr><td>2</td><td>O</td></tr>
<tr><td>3</td><td>X</td></tr>
<tr><td>6</td><td>X</td></tr>
</table>

<p> For testing dataset we need find the label so we wont give the label for the test data</p>
<h7> Testing dataset </h7>
<table>
<tr><th> Feature </th></tr>
<tr><td>6</td></tr>
<tr><td>7</td></tr>
<tr><td>10</td></tr>
<tr><td>11</td></tr>
</table>

<p> Now find the distance between each test data point to all the data points in the train dataset </p>

<table>
<tr><th></th><th>O</th><th>O</th><th>X</th><th>X</th></tr>
<tr><th></th><th>1</th><th>2</th><th>3</th><th>6</th><th>Predicted Ouputs</th></tr>
<tr><th>6</th><td>5</td><td><mark>4</mark></td><td><mark>3</mark></td><td><mark>0</mark></td><th>X</th></tr>
<tr><th>7</th><td>6</td><td><mark>5</mark></td><td><mark>4</mark></td><td><mark>1</mark></td><th>X</th></tr>
<tr><th>10</th><td>9</td><td><mark>8</mark></td><td><mark>7</mark></td><td><mark>4</mark></td><th>X</th></tr>
<tr><th>11</th><td>10</td><td><mark>9</mark></td><td><mark>8</mark></td><td><mark>5</mark></td><th>X</th></tr>
</table>

Given k = 3, so considering the 3 shortest distances from each of the test data point to the data points in the train dataset and label the test data point as per the majority lables of train dataset

Based on the Truth labels and Predicted labels, we can write the confusion matrix in terms of TP, TN, FP, FN values. But for that we need to assume one of the labels as positives and the other as negatives.

Considering the 'O' label as negatives and 'X' label as positives

<table>
<tr><th>Training dataset</th><th>True Labels</th><th>Prediction Labels</th><th>Output</th></tr>
<tr><td>6</td><td>X</td><td>X</td><td>TP</td></tr>
<tr><td>7</td><td>O</td><td>X</td><td>FP</td></tr>
<tr><td>10</td><td>O</td><td>X</td><td>FP</td></tr>
<tr><td>11</td><td>O</td><td>X</td><td>FP</td></tr>
</table>

Now, with these TP and FP values, we can write confusion matrix

Confusion matrix will be as shown below

<table>
<tr><th>number of TN</th><th>number of FP</th></tr>
<tr><th>number of FN</th><th>number of TP</th></tr>
</table>

confusion matrix for the test data is
<table>
<tr><th>0</th><th>3</th></tr>
<tr><th>0</th><th>1</th></tr>
</table>

<pre>
Accuracy = (TP + TN)/(P + N)
         = (1 + 0)/(1 + 0 + 3 + 0)
         = 1 / 4
         = 0.25
</pre>
<pre>
Sensitivity = TP / P
            = 1 / 1
            = 1
</pre>
<pre>
Specificity = TN / N
            = 0 / 3
            = 0
</pre>